.top-header{
    background-color: #fd95ab;
    color: white;
}
.header-nav-top{
    background-color: #fdf3f5;
}
.item-header-top{
    font-size: 15px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: black;
}
.custom-toast-success .Toastify__progress-bar--success {
    background-color: #ab3c74; /* Màu thanh chạy là màu hồng */
}
.custom-toast-success .Toastify__toast-body svg {
    fill: #d15292; /* Màu hồng cho icon */
}
.form-control:focus {
    box-shadow: none !important;
}