.my-card {
    margin: 5px;
    transition: transform 0.3s, border-color 0.3s; /* Thêm transition cho border-color */
    border: 1px solid transparent; /* Đặt border mặc định là trong suốt */
  }
  
  .my-card:hover {
    border-color: pink; /* Đổi màu border khi hover */
  }
  
  .img-container {
    overflow: hidden; /* Ẩn các phần của hình ảnh vượt ra khỏi giới hạn của container */
  }
  
  .img-container img {
    transition: transform 0.3s, box-shadow 0.3s; /* Thêm transition cho transform và box-shadow của ảnh */
  }
  
  .img-container:hover img {
    transform: scale(1.1); /* Phóng to hình ảnh khi hover */
    box-shadow: 0 0 10px 3px pink; /* Tạo shadow cho hình ảnh khi hover */
  }
  